.home_section {
  width: 100%;
  height: 100%;
  background-color: #e5ddd0;
  overflow: hidden;
}
.home_section figure {
  position: absolute;
  z-index: 1;
  width: 80%;
  max-width: 370px;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.home_section figure span {
  display: block;
  width: 100%;
  height: 100%;
  padding: 35px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 5px 5px 8px #ccc;
}
.home_section figure span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.home_section figcaption {
  margin-top: 40px;
}
.home_section figcaption h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.7em;
  margin-bottom: 20px;
}
.home_section .text_box {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 58%;
  left: 0;
  opacity: 0.5;
  background-image: url(../img/home_text.png);
  background-size: contain;   
  animation: text_box 80000s linear infinite ; 
}
@keyframes text_box {
  0% {
    background-position: 0 center;  
  }
  100%{
    background-position: -10000000px center;
  }
}


@media screen and (min-width:1000px) {
  .home_section .text_box { 
    height: 100px;
  }
  .home_section figcaption p{
    padding-left: 130px;
  }
}
@media screen and (min-width:500px) and (max-width:1000px) {
  .home_section .text_box {
    height: 80px;
  }
  .home_section figcaption p{
    padding-left: 130px;
  }
  .home_section figcaption {
    margin-top: 80px;
  }
}
@media screen and (max-width:500px) {
  .home_section .text_box  {
    height: 40px;
    top: 63%;
  }
  .home_section figcaption p{
    padding-left: 100px;
  }
}

/* 모션 */
.home_section figcaption {
  transform: translateY(40px);
  transition: all 2s;
  opacity: 0;
}
.home_section figcaption.active {
  transform: translateY(0);
  opacity: 1;
}