.portfolio_2_section {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  div.left {
    max-width: 600px;
    margin: 0 auto;
    h3 {
      font-size: 4em;
      text-transform: uppercase;
      margin: 30px 0;
      padding-top: 30px;
      box-sizing: border-box;
      span {
        display: block;
        &:first-child {
          font-weight: 800;
        }
        &:last-child {
          font-weight: 200;
        }
      } //span
    } //h3
    ul {
      li {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 0.9em;
        dt {
          font-weight: 500;
          font-size: 1.1em;
          margin-bottom: 5px;
        }
      } //li
    } //ul
    p {
      text-align: justify;
      margin-bottom: 20px;
    }
  } //left
  .right {
    position: relative;
    .right_bg{
      position: absolute;
      z-index: -1;
      background-color: var(--beige);
    }
    a {
      text-transform: uppercase;
      display: block;
      width: 100px;
      height: 100px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 50%;
      text-align: center;
      line-height: 90px;
      font-size: 0.1em;
      font-weight: 500;
      color: #fff;
      background-color: var(--dark);
    } //a
  } //right

  @media screen and (min-width: 1200px) {
    div.left {
      width: 30%;
      padding-left: 3%;
      box-sizing: border-box;
      p {
        max-width: 450px;
      } //p
    } //left
    div.middle {
      width: 20%;
      position: relative;
      figure {
        position: absolute;
        width: 100%;
        height: 60%;
        bottom: 0;
        left: 0;
        background-color: var(--beige);
        img {
          width: 80%;
          margin: 0 auto;
          margin-top: 30px;
          object-fit: cover;
          object-position: center;
          filter: grayscale(1);
          transition: filter 1s;
          &:hover{
            filter:grayscale(0)
          }
        } //img
      } //figure
    } //middle
    div.right {
      width: 50%;
      .right_bg {
        width: 50%;
        height: 40%;
        top: 0;
        left: 0;
      } //bg
      a {
        margin-top: 100px;
        margin-left: 50%;
        transform: translateX(-50%);
      } //a
      img {
        margin-top: -50px;
      } //img
    } //right
  } //lg_size
  @media screen and (max-width: 1200px) {
    flex-direction: column;
    div.left {
      order: 2;
      width: 90%;
      margin: 0 auto;
      margin-top: -50px;
    }
    div.middle {
      display: none;
    }
    div.right {
      position: relative;
      order: 1;
      width: 100%;
      .right_bg{
        top:50px; left: 0;
        width: 100%;
        height: 50%;
      }
      a{
        position: absolute;
        top: 0;
        left: 3%;
      }
      img{
        width: 130%;
      }
    }//right
  } //sm_size
  @media screen and (max-width:650px){
    h3 {
      span{
        font-size: 9vw;
      }
    }
  }
  /* active ------------------------------------------------ */
  .left{
    h3{
      span{
        transform: translateY(80px);
        opacity: 0;
        transition: all 1s;
        &:last-child{
          transition-delay: 0.3s;
        }
      }//span
    }//h3
    ul{
      p{
        transform: translateY(80px);
        opacity: 0;
        transition: all 1s;
        transition-delay: 0.6s;
      }
      li{
        transform: translateY(80px);
        opacity: 0;
        transition: all 1s;
        transition-delay: 0.9s;
      }//li
    }//ul
  }//left
  div.middle{
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.5s;
  }//middle
  .right{
    .right_bg, img{
      opacity: 0;
    }
    .right_bg{
      transform: translateY(-100px);
      transition-delay: 0.5s;
      transition: all 1s;
    }
    a{
      opacity: 0;
      transition: all 1s;
    }//a
    img{
      transform: translateX(70%);
      transition: all 2s;
    }
  }//right
  &.active{
    .left{
      h3{
        span{
          transform: translateY(0);
          opacity: 1;
        }//span
      }//h3
    }//left
    ul{
      p{
        transform: translateY(0);
        opacity: 1;
      }
      li{
        transform: translateY(0);
        opacity: 1;
      }
    }//ul
    div.middle{
      transform: translateY(0);
      opacity: 1;
    }//middle
    .right{
      .right_bg{
        transform: translateY(0);  
        opacity: 1;
      }
      a{
        opacity: 1;
      }
      img{
        transform: translate(0);
        opacity: 1;
      }
    }//right
  }//active
} //section
