.portfolio_2_section {
  box-sizing: border-box;
  background-color: rgba(91, 106, 87, 0.4);
  /* active ------------------------------------------------ */
}
.portfolio_2_section .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
}
.portfolio_2_section div.left {
  max-width: 600px;
}
.portfolio_2_section div.left h3 {
  font-size: 4em;
  text-transform: uppercase;
  margin: 30px 0;
  padding-top: 30px;
  box-sizing: border-box;
}
.portfolio_2_section div.left h3 span {
  display: block;
}
.portfolio_2_section div.left h3 span:first-child {
  font-weight: 800;
}
.portfolio_2_section div.left h3 span:last-child {
  font-weight: 200;
}
.portfolio_2_section div.left ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 0.9em;
}
.portfolio_2_section div.left ul li dt {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 5px;
}
.portfolio_2_section div.left p {
  text-align: justify;
  margin-bottom: 20px;
}
.portfolio_2_section .right {
  position: relative;
}
.portfolio_2_section .right .img_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--beige);
}
.portfolio_2_section .right figure {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 99%;
}
.portfolio_2_section .right figure img {
  max-width: 150px;
  margin: 0 5px;
  filter: grayscale(1);
  transition: filter 1s;
}
.portfolio_2_section .right figure img:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 1200px) {
  .portfolio_2_section {
    padding: 50px;
  }
  .portfolio_2_section div.left {
    width: 30%;
    padding-left: 3%;
    box-sizing: border-box;
  }
  .portfolio_2_section div.left p {
    max-width: 450px;
  }
  .portfolio_2_section div.right {
    position: relative;
    width: 45%;
    padding: 15px;
  }
  .portfolio_2_section div.right .gotoweb {
    top: 8%;
    left: 0;
    transform: translateX(-50%);
  }
  .portfolio_2_section div.right .img_wrap img {
    width: 100%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}
@media screen and (max-width: 1200px) {
  .portfolio_2_section {
    padding: 20px;
  }
  .portfolio_2_section .container {
    flex-direction: column;
  }
  .portfolio_2_section div.left {
    order: 2;
    width: 90%;
    margin: 0 auto;
    margin-top: -50px;
  }
  .portfolio_2_section div.right {
    position: relative;
    order: 1;
    padding: 10px;
    box-sizing: border-box;
  }
  .portfolio_2_section div.right .img_wrap {
    max-height: 500px;
  }
  .portfolio_2_section div.right .img_wrap img {
    margin: 0 auto;
    margin-top: 130px;
    width: 30%;
    min-width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .portfolio_2_section div.right figure {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .portfolio_2_section h3 span {
    font-size: 9vw;
  }
}
.portfolio_2_section .left h3 span {
  transform: translateY(80px);
  opacity: 0;
  transition: all 1s;
}
.portfolio_2_section .left h3 span:last-child {
  transition-delay: 0.3s;
}
.portfolio_2_section .left ul p {
  transform: translateY(80px);
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.6s;
}
.portfolio_2_section .left ul li {
  transform: translateY(80px);
  opacity: 0;
  transition: all 1s;
  transition-delay: 0.9s;
}
.portfolio_2_section .right img {
  opacity: 0;
  transform: translateX(70%);
  transition: all 2s;
}
.portfolio_2_section.active .left h3 span {
  transform: translateY(0);
  opacity: 1;
}
.portfolio_2_section.active ul p {
  transform: translateY(0);
  opacity: 1;
}
.portfolio_2_section.active ul li {
  transform: translateY(0);
  opacity: 1;
}
.portfolio_2_section.active .right img {
  transform: translate(0);
  opacity: 1;
}/*# sourceMappingURL=portfolio_2.css.map */