.pub_wrap {
  position: relative;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  box-sizing: border-box;

  overflow: hidden;
}
.pub_section {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;

}
.bg_wrap>span {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  filter: blur(50px)
}
/* 첫번째 포트폴리오 배경색 */
.bg_wrap>span.bg1-1{
  width: 350px;
  height: 350px;
  top:10%;
  left: 15%;
  background-color: #f69124;
}
.bg_wrap>span.bg1-2{
  width: 500px;
  height: 500px;
  right: 3%;
  bottom: 5%;
  background-color: #f69124;
}
.bg_wrap>span.bg1-3 {
  width: 300px;
  height: 300px;
  left: 5%;
  bottom: 5%;
  background-color: #ed1c24;
}
/* 두번째 포트폴리오 배경색 */
.bg_wrap>span.bg2-1{
  width: 600px;
  height: 600px;
  top:30%;
  left: 3%;
  background-color:#7B8C7A;
}
.bg_wrap>span.bg2-2{
  width: 300px;
  height: 300px;
  top:10%;
  right:15%;
  background-color:#BFB8A4;
}
.bg_wrap>span.bg2-3{
  width: 400px;
  height: 400px;
  right:5%;
  bottom:0;
  background-color:#7B8C7A;
}

.pub_section .title_box{
  text-align: center;
}
.pub_section .title_box i {
  display: block;
  color: #aaa;
}
.pub_section .title_box h2{
  margin: 8px auto;
  font-weight: 600;
}

@media screen and (min-width:550px){
  .pub_section .title_box h2{
    font-size: 2em;
  }
}
@media screen and (max-width:550px){
  .pub_section .title_box h2{
    font-size: 6vw;
  }
}
.pub_section .title_box h2::before {
  content: "";
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  width: 130px;
  border: 1px solid #ccc;
  color: #aaa;
}
.pub_section .title_box button {
  margin-top: 30px;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #fff;
}
.pub_section figure{
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.pub_section figure::after {
  content: "";
  display: block;
  padding-top: 53%;
}
.pub_section figure a {
  display: block;
  position: absolute;
  width: 100%;
  transition: transform 0.5s;
  cursor: pointer;
}
.pub_section figure a img{
  width: 100%;
}
.pub_section figure a:hover {
  transform: scale(1.05);
}
.pub_section .content_container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
}
.pub_section .content_container>ul>li{
  margin-top: 20px;
}
.pub_section .content_container ul li b{
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 1.1em;
}
.pub_section .content_container ul li p,
.pub_section .content_container ul li ul {
  margin-left: 8px;
}
.pub_section .content_container>ul>li>ul{
  display: flex;
}
.pub_section .content_container ul>li>ul>li{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
}

@media screen and (min-width:1000px) {
  .pub_section .content_container>ul{
    display: flex;
    flex-wrap: wrap;
  }
  .pub_section .content_container>ul>li {
    width: 25%;
  }
  .pub_section .content_container>ul>li:nth-child(3),
  .pub_section .content_container>ul>li:nth-child(6) {
    width: 45%;
  }
  .pub_section {
    margin-top: 100px;
  }
  .pub_wrap{
    padding-bottom: 150px;
  }
}
@media screen and (max-width:1000px) {
  .pub_section {
    margin-top: 60px;
  }
  .pub_wrap{
    padding-bottom: 100px;
  }
}

/* motion */
.pub_wrap .bg_wrap {
 overflow: hidden;
}
.pub_wrap .bg_wrap span {
  opacity: 0;
  transform: scale(0.3);
  transition: all 10s;
}
.pub_wrap.active .bg_wrap span {
  opacity: 0.4;
  transform: scale(1);
}


.pub_section .title_box i,
.pub_section .title_box h2 
{
  opacity: 0;
  transition: all 1s;
}
.pub_section .title_box i {
  transform: translateY(-30px);
}
.pub_section .title_box h2 {
  transform: translateY(30px);
}
.pub_wrap.active .title_box i,
.pub_wrap.active .title_box h2 {
  transform: translateY(0);
  opacity: 1;
}

/* 컬러 */
.pub_section1 .content_container ul>li>ul>li:nth-child(1){
  background-color: #ed1c24;
}
.pub_section1 .content_container ul>li>ul>li:nth-child(2){
  background-color: #f69124;
}
.pub_section1 .content_container ul>li>ul>li:nth-child(3){
  background-color: #212228;
}

.pub_section2 .content_container ul>li>ul>li:nth-child(1){
  background-color: #AD8C6B;
}
.pub_section2 .content_container ul>li>ul>li:nth-child(2){
  background-color: #7B8C7A;
}
.pub_section2 .content_container ul>li>ul>li:nth-child(3){
  background-color: #2A2728;
}